@font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

section {
    margin-left: 100px;
}

main > div {
    display: flex;
    height: auto;
    min-height: 100%;
}

#submenu {
    position: fixed;
    background-color: #C69760;
    height: 100%;
    width: 200px;
}

#submenu > ul {
    padding: 0;
}

#submenu > ul > li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#submenu > ul > li:nth-child(1) {
    font-family: 'HallymGothic-Bold';
    color: #fefeed;
    background-color: #795c3a;
    margin-top: 50px;
    margin-bottom: 50px;
}

#submenu > ul > li > a {
    font-family: 'HallymGothic-Bold';
    text-decoration: none;
    color: #4a4a4a;
}

#submenu > ul > li > a:hover {
    color: black;
    transition: .2s;
}

section > #title {
    text-align: center;
    font-size: 3rem;
    font-family: 'HallymGothic-Bold';
    margin-top: 30px;
}

main > div > section {
    width: 100%;
    background-color: #fbfbfb;
}

#userList {
    margin-top: 100px;
}

#userList > table {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #f4f4f4;
}

#userList > table th, table td {
    text-align: center;
}

#userList > table th:nth-child(1), table td:nth-child(1) {
    width: 150px;
}

#userList > table th:nth-child(2), table td:nth-child(2) {
    width: 250px;
}


.button {
    padding: 5px 10px;
    border: 1px solid rgb(120, 120, 120);
    outline: none;
    background-color: transparent;
    border-radius: 8%;
    color: rgb(120, 120, 120);

}

.button:hover,
.button:active {
    border: 1px solid transparent;
}

.button:focus {
    border: 1px solid rgba(120, 120, 120, 0.7);
}

.button.beige {
    color: #C69760;
    border: 1px solid #C69760;
}

.button.beige:hover {
    background-color: #C69760;
    color: #FFFFFF;
}

.button.beige:active {
    box-shadow: none;
}

.button.beige:focus {
    transition: 0.5s;
    box-shadow: 0 0 0 2px #937047;
}

.button.gray {
    color: gray;
    border: 1px solid gray;
}

.button.gray:hover {
    background-color: gray;
    color: #FFFFFF;
}

.button.gray:active {
    box-shadow: none;
}

.button.gray:focus {
    transition: 0.5s;
    box-shadow: 0 0 0 2px gray;
}

#search > form > input[type=text] {
    width: 300px;
}
#search > form {
    display: flex;
    justify-content: center;
}

.page{
    text-align: center;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
   float: left;
   display: block;
   font-size: 14px;
   text-decoration: none;
   padding: 5px 12px;
   color: #96a0ad;
   line-height: 1.5;}

.first{
    margin-right: 15px;}

.last{
    margin-left: 15px;}

.first:hover, .last:hover, .left:hover, .right:hover{
    color: #C69760;}

.pagination a.active {
    cursor: default;
    color: #ffffff;}

.pagination a:active {
    outline: none;}

.mode .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.mode .num:hover {
    background-color: #C69760;
    color: #ffffff;}

.mode .num.active, .mode .num:active {
    background-color: #C69760;
    cursor: pointer;}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid blue; }

#menuadd {
    width: 1000px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

#addContent {
    width: 1000px;
    margin: 0 auto;
}

#image_preview {
    width: 800px;
    margin: 0 auto;
}

#att_zone {
    width: 1000px;
    padding: 10px;
    border: 1px black;
    display: flex;
    overflow-x: auto;
    content: attr(data-placeholder);
}

#att_zone:empty:before {
    content: attr(data-placeholder);
    color: #999;
    font-size: .9em;
}

#att_zone > div {
    position: relative;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

#att_zone > div > input {
    position: absolute;
    z-index: 999;
}

#att_zone > div > img {
    width: 200px;
    height: 200px;
}

#menuContent {
    width: 700px;
    margin: 60px auto;
    box-shadow: 1px 1px 1px #f4f4f4;
    background-color: white;
}

#addMenu {
    width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: right;
}

.question:hover {
    background-color: #C69760;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

/* 이미지 슬라이더 */
.slider{
    width: 400px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}
.slider input[type=radio]{
    display: none;
}

#imgholder > li > img {
    width: 400px;
    height: 300px;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}

#viewContent > table {
    width: 600px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 1px 1px 1px #f4f4f4;
}

#viewContent > table tr > td {
    text-align: left;
    height: 300px;
}

#viewContent > table tr > th {
    text-align: center;
}

#answerAdd {
    width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: right;
}

