@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
}

section {
    height: 100%;
    width: 100%;
}

section > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section > div > form {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#logo > img {
    cursor: pointer;
}

#logo > span {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'HallymGothic-Bold';
}

#login {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#login > div > input {
    width: 300px;
    margin-bottom: 10px;
}

#loginBtn {
    display: flex;
    justify-content: center;
}

#loginBtn > input {
    width: 300px;
}

