@font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body, main {
    height: 100%;
}

main > div {
    display: flex;
    height: 100%;
}

#submenu {
    background-color: #C69760;
    height: 100%;
    width: 200px;
}

#submenu > ul {
    padding: 0;
}

#submenu > ul > li {
    list-style: none;
    margin-top: 50px;
    text-align: center;
    font-size: 1.3rem;
}

#submenu > ul > li > a {
    font-family: 'HallymGothic-Bold';
    text-decoration: none;
    color: #4a4a4a;
}

#submenu > ul > li > a:hover {
    color: black;
    transition: .2s;
}

section > #title {
    text-align: center;
    font-size: 3rem;
    font-family: 'HallymGothic-Bold';
    margin-top: 30px;
}

main > div > section {
    width: 100%;
    background-color: #fbfbfb;
}

#userList {
    margin-top: 100px;
}

#userList > table {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #f4f4f4;
}

#userList > table th, table td {
    text-align: center;
}

.button {
    padding: 5px 10px;
    border: 1px solid rgb(120, 120, 120);
    outline: none;
    background-color: transparent;
    border-radius: 8%;
    color: rgb(120, 120, 120);

}

.button:hover,
.button:active {
    border: 1px solid transparent;
}

.button:focus {
    border: 1px solid rgba(120, 120, 120, 0.7);
}

.button.beige {
    color: #C69760;
    border: 1px solid #C69760;
}

.button.beige:hover {
    background-color: #C69760;
    color: #FFFFFF;
}

.button.beige:active {
    box-shadow: none;
}

.button.beige:focus {
    transition: 0.5s;
    box-shadow: 0 0 0 2px #937047;
}

#search > input[type=text] {
    width: 300px;
}
#search {
    display: flex;
    justify-content: center;
}

.page{
    text-align: center;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
   float: left;
   display: block;
   font-size: 14px;
   text-decoration: none;
   padding: 5px 12px;
   color: #96a0ad;
   line-height: 1.5;}

.first{
    margin-right: 15px;}

.last{
    margin-left: 15px;}

.first:hover, .last:hover, .left:hover, .right:hover{
    color: #C69760;}

.pagination a.active {
    cursor: default;
    color: #ffffff;}

.pagination a:active {
    outline: none;}

.mode .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.mode .num:hover {
    background-color: #C69760;
    color: #ffffff;}

.mode .num.active, .mode .num:active {
    background-color: #C69760;
    cursor: pointer;}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid blue; }