@font-face {
    font-family: 'HallymGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.title {
    width: 700px;
    margin: 20px auto;
}

.title > span {
    font-size: 2rem;
    font-family: 'HallymGothic-Bold';
}

#cssubmenu {
    display: flex;
    justify-content: space-between;
    background-color: #C69760;
    color: white;
}

#cssubmenu {
    padding: 10px;
}

#cssubmenu > div > a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 20px;
}

#cssubmenu > div > a:hover {
    color: black;
    transition: 0.2s;
    font-weight: bold;
}

.questionadd {
    width: 500px;
    margin: 20px auto;
    padding-top: 20px;
}

.questionadd > input {
    margin-bottom: 50px;
}

#sub {
    display: flex;
    justify-content: right;
}

section > form {
    width: 700px;
    background-color: #f8f8f8;
    margin: 0 auto;
}

#content {
    margin-left: 20px;

}

#content > span:nth-child(1) {
    font-size: 1.5rem;
}

#tableDiv > table {
    width: 700px;
    margin: 0 auto;
}

#tableDiv > table tr > th, td {
    text-align: center;
}

/* 페이징 */
.page{
    text-align: center;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;}

.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;}

.first{
    margin-right: 15px;}

.last{
    margin-left: 15px;}

.first:hover, .last:hover, .left:hover, .right:hover{
    color: #C69760;}

.pagination a.active {
    cursor: default;
    color: #ffffff;}

.pagination a:active {
    outline: none;}

.mode .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.mode .num:hover {
    background-color: #C69760;
    color: #ffffff;}

.mode .num.active, .mode .num:active {
    background-color: #C69760;
    cursor: pointer;}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid blue; }

.question:hover {
    background-color: #C69760;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}