

.eventlist > h3 {

    margin-bottom: 20px;
}
.eventlist {

    width: 900px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;

}

.events {

    width: 900px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 800px;


}

#eventlistbox, #eventbox {
    display: inline-block;
}


.banner {
    width: 700px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 200px;
    position: relative;
    left: 0px;
    top: 0px;
}


.banner-view {
    width: 800px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 15px;
}

.img {

    width: 700px;
    height: auto;

    position: absolute;
    left: 0px;
    top: 0px;
}

.img-view {

    width: 700px;
    height: auto;

}

.eventinfo {

    width: 700px;
    height: auto;
    font-size: 1.2em;
    margin-top: 40px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

#main-menu > ul > li:nth-child(3) > a {
    color: #C69760;
}


#ment {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#btn-box {
    display: flex;
    justify-content: center;
}

.guide-box {

    width: 800px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: dimgray;
    text-align: justify;
}

.guide-content {
    margin-bottom: 20px;
}

#notlogin {
    margin-top: 120px;
    margin-bottom: 70px;
    margin-left: 50px;
    text-align: center;
    color: #C69760;
}
