

.eventlist > h3 {

    margin-bottom: 20px;
}
.eventlist {

    width: 600px;
    margin-right: 500px;
    margin-left: 700px;

}


.banner {
    width: 700px;
    margin-right: 0;
    margin-left: 20px;

}


.banner-view {
    width: 800px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 15px;
}

.img {

    width: 700px;
    height: auto;

    position: absolute;
}

.img-view {

    width: 700px;
    height: auto;

}

.eventinfo {

    width: 700px;
    height: auto;
    font-size: 1.2em;
    margin-top: 40px;
    text-align: center;

}

#main-menu > ul > li:nth-child(3) > a {
    color: #C69760;
}


#ment {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#btn-box {
    display: flex;
    justify-content: center;
}

.guide-box {

    width: 800px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: dimgray;
}

.guide-content {
    margin-bottom: 20px;
}

#notlogin {
    margin-top: 120px;
    margin-bottom: 70px;
    margin-left: 50px;
    text-align: center;
    color: #C69760;
}
