<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sikdorock.repository.MenuDAO">

    <!--메뉴의 총 수-->
    <!-- 오늘 ~ 오늘+30-->
    <select id="menuCount" resultType="Integer">
        select count(*) from TBLFOOD where ((outdate &gt; sysdate - 1) and (outdate &lt; sysdate + 30))
    </select>

    <!-- 메뉴리스트 -->
    <select id="getMenuli" resultType="foodlistdto" parameterType="String">
        select
            menu.*,
            concat(img.seq, img.ext) as image
        from (select a.*, rownum as rn from (select * from tblFood f order by outdate asc) a) menu
                 inner join (select * from (select fi.*, ROWNUM rnum from TBLFOODIMAGE fi) where Mod(rnum, 2) = 1) img
                            on menu.seq = img.fseq where extract( month from outdate ) = ${month}

    </select>

    <select id="price" resultType="String">
        select indprice from tblPrice
    </select>

    <select id="menuView" resultType="foodlistdto" parameterType="String">
        select
            f.*,
            c.category
        from tblFood f
                 inner join tblCategory c
                            on f.cateseq = c.seq
        where f.seq = #{seq}
    </select>

    <select id="image" resultType="String" parameterType="String">
        select
            concat(fi.seq, fi.ext) as image
        from tblFoodImage fi
        where fseq = #{seq}
    </select>

    <select id="review" resultType="reviewdto" parameterType="String">
        select
            r.*,
            u.name
        from tblReview r
                 inner join tblUser u
                            on r.id = u.id
        where fseq = #{seq}
            order by r.seq desc
    </select>

    <select id="rCnt" resultType="Integer" parameterType="String">
        select count(*) as cnt from tblReview where fseq = #{seq}
    </select>

    <select id="idLike" resultType="String" parameterType="HashMap">
        select count(*) as cnt from TBLLIKEFOOD where id = #{id} and fseq = #{seq}
    </select>

    <select id="idCart" resultType="String" parameterType="HashMap">
        select count(*) as cnt from tblCart where id = #{id} and fseq = #{seq}
    </select>

    <insert id="reviewAdd" parameterType="reviewdto">
        insert into tblReview values (seqReview.nextVal, #{fseq}, #{star}, #{content}, sysdate, #{id})
    </insert>

    <delete id="reviewDel" parameterType="String">
        delete from tblReview where seq = #{rseq}
    </delete>

    <update id="editReAdd" parameterType="reviewdto">
        update tblReview set  star = #{star}, content = #{content} where seq = #{seq}
    </update>

    <insert id="addlike" parameterType="HashMap">
        insert into tblLikeFood values (#{id}, #{fseq})
    </insert>

    <delete id="dellike" parameterType="HashMap">
        delete from tblLikeFood where fseq = #{fseq} and id = #{id}
    </delete>

    <insert id="addcart" parameterType="cartdto">
        insert into tblCart values (seqCart.nextVal, #{count}, #{id}, #{fseq})
    </insert>

    <update id="editReview" parameterType="reviewdto">
        update tblReview set  star = #{star}, content = #{content} where seq = #{seq}
    </update>

    <select id="cartList" resultType="cartdto" parameterType="String">
        select
            c.seq,
            f.menuname,
            f.seq as fseq,
            c.count,
            concat(img.seq, img.ext) as image
        from tblCart c
                 inner join tblfood f
                            on c.fseq = f.seq
                 inner join (select * from (select fi.*, ROWNUM rnum from TBLFOODIMAGE fi) where Mod(rnum, 2) = 1) img
                            on f.seq = img.fseq
        where c.id = #{id}
    </select>


    <update id="editCart" parameterType="HashMap">
        update tblCart set count = #{count} where seq = #{seq} and id = #{id}
    </update>

    <delete id="delCart" parameterType="String">
        delete from tblCart where seq = #{seq}
    </delete>

    <select id="userInfo" resultType="userdto" parameterType="String">
        select * from tblUser where id = #{id}
    </select>

    <select id="payment" resultType="cartdto" parameterType="String">
        select
            c.seq,
            c.fseq,
            f.menuname,
            concat(img.seq, img.ext) as image,
            c.count
        from tblCart c
                 inner join tblFood f
                            on c.fseq = f.seq
                 inner join (select * from (select fi.*, ROWNUM rnum from TBLFOODIMAGE fi) where Mod(rnum, 2) = 1) img
                            on f.seq = img.fseq
        where c.seq in ${where}
    </select>

    <select id="coupon" resultType="coupondto" parameterType="String">
        select
            c.seq,
            c.name,
            c.discount
        from tblUserCoupon uc
                 inner join tblCoupon c
                            on uc.cseq = c.seq
        where  id = #{id}
    </select>

</mapper>